@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

/* Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  /* background: #0c5b88 !important; */
  padding: 0.7rem 1rem;
  transition: background-color 0.5s ease 0s;
}
.navbar-brand {
  color: white;
  height: 2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #9ad1ec;
}
.navbar.solid {
  background: rgba(12, 91, 136, 1) !important;
  transition: background-color 1s ease 0s;
}

.custom-margin-top {
  color: black;
  margin-top: 4rem;
}

/* Landing Page */

.home-inner img {
  background-size: cover;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
}
.caption h1 {
  color: white;
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 2rem;
}

/* .jumbotron {
  background-image: url("./assets/beachImage.jpg") !important;
  background-size: cover !important;
} */
