@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

/* Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: #0c5b88 !important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #9ad1ec;
}

/* Landing Page */

.home-inner img {
  background-size: cover;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 30%;
  color: white;
  z-index: 1;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

/* .jumbotron {
  background-image: url("./assets/beachImage.jpg") !important;
  background-size: cover !important;
} */
